<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>OpenToDo</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{{ url_for('static', filename='icons/checklist.png') }}">
    {% block head %}
      {% block title %}{% endblock %}
    {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
  </body>
</html>
