{% set search_arg = search_query if search_query else none %}
<!doctype html>
<html lang="ru">
<head>
{% include "partials/_head.html" %}
</head>
<body class="app-page" data-current-view="{{ current_view }}">
<div class="layout">
    {% include "partials/_sidebar.html" %}
    {% include "partials/_sidebar_resizer.html" %}
    {% include "partials/_workspace.html" %}
</div>
{% include "partials/_modals.html" %}
{% include "partials/_toast.html" %}
{% include "partials/_app_config.html" %}
<script src="{{ url_for('static', filename='app.js') }}" defer></script>
{% include "partials/_task_json.html" %}
</body>
</html>
