{% extends "base.html" %}
{% block content %}
  <div class="login-page">
    <div class="login-container">
      <form id="auth-form" action="{{ url_for('login') }}" method="POST">
        <h2 style="text-align: left; padding-bottom: 5px;">Welcome</h2>
        <div class="input-group">
          <input type="text" id="username" name="username" placeholder="login" class="input-field" />
        </div>
        <div class="input-group">
          <input type="password" id="password" name="password" placeholder="password" class="input-field" />
        </div>
        <div class="button-group">
          <button type="submit" class="btn-login">Login</button>
        </div>
      </form>
      <p class="register-link">Don't have an account? <a href="{{ url_for('register') }}">Create</a></p>
      <p>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
              <div class="alert info">{{ message }}<span class="closebtn">&times;</span></div>
              {% endfor %}
          {% endif %}
        {% endwith %}
      </p>
    </div>
  </div>
{% endblock %}