<aside class="sidebar">
    <div class="date-filter">
        <a href="{{ url_for("index") }}"
           class="{% if current_date_filter == 'inbox' %}active{% endif %}">
            <img src="{{ url_for('static', filename='icons/inbox.svg') }}"
                 alt=""
                 role="img" />
            <span>Inbox</span>
        </a>
        <a href="{{ url_for('index', date_filter='today') }}"
           class="{% if current_date_filter == 'today' %}active{% endif %}">
            <img src="{{ url_for('static', filename='icons/star.svg') }}"
                 alt=""
                 role="img" />
            <span>Today</span>
        </a>
        <a href="{{ url_for('index', date_filter='upcoming') }}"
           class="{% if current_date_filter == 'upcoming' %}active{% endif %}">
            <img src="{{ url_for('static', filename='icons/calendar.svg') }}"
                 alt=""
                 role="img" />
            <span>Upcoming</span>
        </a>
    </div>
    <div class="project-item">
        <form action="{{ url_for("projects") }}" method="post">
            <span class="project-heading">My projects</span>
            <button type="submit" class="btn-add-project" aria-label="Add new project">+</button>
        </form>
    </div>
    {% for project in projects %}
        <div class="project-item" data-project-id="{{ project.id }}">
            <p>{{ project.title }}</p>
        </div>
    {% endfor %}
    <div class="sidebar-buttons">
        <a href="{{ url_for("logout") }}"
           title="Logout"
           aria-label="Logout">
            <img src="{{ url_for('static', filename='icons/logout.svg') }}"
                 alt=""
                 role="img" />
        </a>
    </div>
</aside>
