{% extends "base.html" %}
{% block content %}
    {% include "partials/sidebar.html" %}
    <main class="content">
        <h2>{% if current_date_filter == "today" %}Today{% elif current_date_filter == "upcoming" %}Upcoming{% elif current_date_filter == "inbox" %}Inbox{% else %}Inbox{% endif %}</h2>
        {% include "partials/task-list.html" %}
        <button type="button"
                id="add-task-btn"
                class="btn-add-task"
                aria-label="Add new task"
                title="Add new task">+</button>
    </main>
    {% include "partials/overlay.html" %}
{% endblock %}
